<h1>{{#link-to 'index' class="button"}}MTCS{{/link-to}}</h1>
<ul>
	<li>{{#link-to 'emby' class="button"}}Emby{{/link-to}}</li>
	<li>{{#link-to 'seedbox' class="button"}}SeedBox{{/link-to}}</li>
	<li>{{#link-to 'fichiers' class="button"}}Fichiers{{/link-to}}</li>
	<li>{{#link-to 'calendrier' class="button"}}Calendrier{{/link-to}}</li>
</ul>
{{outlet}}